In [1]:
# Import Libraries
import camelot
import os
import numpy as np
import pandas as pd

# Fill data as per requirement
company = 'Bajaj_Allianz'
financial_yr = '2020_21'
quarter = 'Q4'


LOB = ['Fire', 'Marine Cargo', 'Marine Others', 'Marine Total', 'Motor OD', 'Motor TP', 'Motor Total', 'Liability', 'Engineering', 'PA', 'Health Insurance', 'Crop Insurance', 'Others']
year = np.full(shape=len(LOB),fill_value=financial_yr)
qtr = np.full(shape=len(LOB),fill_value=quarter)
cmpny = np.full(shape=len(LOB),fill_value=company.replace('_',' '))

dir_path = r"C:\Users\n179950\Munich Re\MR India NL - Documents\Agro\6. Miscellaneous\Individual's Folders\Anil\project_public_disclosure\PDF"
file = os.path.join(dir_path,company,financial_yr,quarter,'NL-26.pdf')
print(file)

odir_path = r"C:\Users\n179950\Munich Re\MR India NL - Documents\Agro\6. Miscellaneous\Individual's Folders\Anil\project_public_disclosure\CSV"
ofile = os.path.join(odir_path,company,financial_yr,quarter,'NL-26.csv')
print(ofile)

C:\Users\n179950\Munich Re\MR India NL - Documents\Agro\6. Miscellaneous\Individual's Folders\Anil\project_public_disclosure\PDF\Bajaj_Allianz\2020_21\Q4\NL-26.pdf
C:\Users\n179950\Munich Re\MR India NL - Documents\Agro\6. Miscellaneous\Individual's Folders\Anil\project_public_disclosure\CSV\Bajaj_Allianz\2020_21\Q4\NL-26.csv

In [2]:
def chk_blank(value):
    if value =='-' and len(value)==1:
        return None
    elif len(value)==0:
        return None
    elif '(' in value:
        return int(value.replace('-','').replace('(','').replace(')','').replace(' ','')) *-1
    else:
        return int(value.replace('-','').replace(' ',''))
    
def ifnone(value):
    if value == None:
        return 0
    else:
        return value

In [3]:
tables = camelot.read_pdf(file)#,pages="all")
print("Total tables extracted:", tables.n)

Total tables extracted: 1

In [4]:
tables[0].df.head(50)

,0,1,2,3,4,5,6,7,8
0,Item \nNo.,Description,PREMIUM,,,,,,RSM
1,,,Gross \nPremium,Net Premium,Gross \nincurred \nclaim,Net incurred \nClaim,RSM-1,RSM-2,
2,1,Fire,"170,577","27,903","48,891","15,619","17,058","7,334","17,058"
3,2,Marine Cargo,"15,584","10,772","11,080","8,214","2,154","2,464","2,464"
4,3,Marine Hull,"1,051",20,332,9,105,50,105
5,4,Motor,"472,633","433,281","300,839","296,791","86,656","89,037","89,037"
6,5,Engineering,"22,562","2,472","4,345","1,173","2,256",652,"2,256"
7,6,Aviation,"1,769",25,"1,616","1,916",177,575,575
8,7,Laibilities,"8,716","5,770",964,"2,112","1,307",634,"1,307"
9,8,Others,"83,734","30,293","37,339","13,372","11,724","7,840","11,724"
10,9,Health,"230,174","183,457","184,351","154,086","36,691","46,226","46,226"
11,10,Crop Insurance,"255,638","47,732","127,434","34,351","25,564","19,115","25,564"
12,,Total,"1,262,438","741,725","717,191","527,643","183,692","173,927","196,316"

In [5]:
tables[0].df[6][2].replace(',','')

'17058'