In [1]:
# Import Libraries
import camelot
import os
import numpy as np
import pandas as pd

In [2]:
# Fill data as per requirement
company = 'Bajaj_Allianz'
financial_yr = '2020_21'
quarter = 'Q4'

In [3]:
LOB = ['Fire', 'Marine Cargo', 'Marine Others', 'Marine Total', 'Motor OD', 'Motor TP', 'Motor Total', 'Liability', 'Engineering', 'PA', 'Health Insurance', 'Crop Insurance', 'Others']
year = np.full(shape=len(LOB),fill_value=financial_yr)
qtr = np.full(shape=len(LOB),fill_value=quarter)
cmpny = np.full(shape=len(LOB),fill_value=company.replace('_',' '))

In [4]:
dir_path = r"C:\Users\n179950\Munich Re\MR India NL - Documents\Agro\6. Miscellaneous\Individual's Folders\Anil\project_public_disclosure\PDF"
file = os.path.join(dir_path,company,financial_yr,quarter,'NL-6.pdf')
print(file)

C:\Users\n179950\Munich Re\MR India NL - Documents\Agro\6. Miscellaneous\Individual's Folders\Anil\project_public_disclosure\PDF\Bajaj_Allianz\2020_21\Q4\NL-6.pdf

In [5]:
odir_path = r"C:\Users\n179950\Munich Re\MR India NL - Documents\Agro\6. Miscellaneous\Individual's Folders\Anil\project_public_disclosure\CSV"
ofile = os.path.join(odir_path,company,financial_yr,quarter,'NL-6.csv')
print(ofile)

C:\Users\n179950\Munich Re\MR India NL - Documents\Agro\6. Miscellaneous\Individual's Folders\Anil\project_public_disclosure\CSV\Bajaj_Allianz\2020_21\Q4\NL-6.csv

In [6]:
def chk_blank(value):
    if value =='-' and len(value)==1:
        return None
    elif len(value)==0:
        return None
    elif '(' in value:
        return int(value.replace('-','').replace('(','').replace(')','').replace(' ','')) *-1
    else:
        return int(value.replace('-','').replace(' ',''))
    
def ifnone(value):
    if value == None:
        return 0
    else:
        return value

In [7]:
tables = camelot.read_pdf(file)#,pages="all")
print("Total tables extracted:", tables.n)

Total tables extracted: 2

In [8]:
tables[0].df.head(13)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,Particulars,Fire,Marine,,,Miscellaneous,,,,,,,,,,,,,Total
1,,,Marine Cargo,Marine Others,Marine Total,Motor OD,Motor TP,Motor Total,Worksmens' \nCompensation,Public/Product \nLiability,Engineering,Aviation,Personal Accident,Health Insurance,Credit Insurance,Crop Insurance,Others,Total \nMiscellaneous,
2,,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021,For the quarter \nended \n31 March 2021
3,,(Rs.’000),(Rs.’000),(Rs.’000),(Rs.’000),(Rs.’000),(Rs.’000),(Rs.’000),(Rs.’000),(Rs.’000),(Rs.’000),(Rs.’000),(Rs.’000),(Rs.’000),(Rs.’000),(Rs.’000),(Rs.’000),(Rs.’000),(Rs.’000)
4,Commission paid,,,,,,,,,,,,,,,,,,
5,Direct,"375,214","40,675",(111),"40,564","946,443","89,187","1,035,630","15,815","8,652","28,572",(121),"75,337","501,773","3,089",20,"175,125","1,843,892","2,259,670"
6,Add: Re-insurance Accepted,"12,574",-,-,-,-,-,-,-,-,"1,852",-,-,-,-,,- 1,"1,853","14,427"
7,Less: Commission on Re-insurance Ceded,"703,421","14,107",595,"14,702","48,821","195,829","244,650","1,404","7,438","84,997","1,333","6,525","267,023","3,820","56,268","175,716","849,174","1,567,297"
8,Net Commission,"(315,633)","26,568",(706),"25,862","897,622","(106,642)","790,980","14,411","1,214","(54,573)","(1,454)","68,812","234,750",(731),"(56,248)",(590),"996,571","706,800"
9,Break-up of the expenses (Gross) \nincurred to...,,,,,,,,,,,,,,,,,,
10,Agents,"44,976","18,030",463,"18,493","148,495","50,143","198,638","11,975","1,475","6,710",4,"20,224","260,169",-,,"- 42,320","541,515","604,984"
11,Brokers,"152,121","21,417",(586),"20,831","628,906","26,732","655,638","3,009","7,098","20,581",(125),"17,506","90,282","3,089",1,"51,095","848,174","1,021,126"
12,Corporate Agency,"176,035","1,131",12,"1,142","117,031","12,255","129,286",784,79,"1,281",,"- 37,594","149,923",-,19,"81,570","400,536","577,713"

In [9]:
##### Read Data from NL6 form

#Direct Commission
Direct_commission = []

Direct_commission_business_Fire = chk_blank(tables[0].df[1][5].replace(',',''))
Direct_commission_business_Marine_cargo = chk_blank(tables[0].df[2][5].replace(',',''))
Direct_commission_business_Marine_others = chk_blank(tables[0].df[3][5].replace(',',''))
Direct_commission_business_Marine_total = chk_blank(tables[0].df[4][5].replace(',',''))
Direct_commission_business_Motor_OD = chk_blank(tables[0].df[5][5].replace(',',''))
Direct_commission_business_Motor_TP = chk_blank(tables[0].df[6][5].replace(',',''))
Direct_commission_business_Motor_Total = chk_blank(tables[0].df[7][5].replace(',',''))
Direct_commission_business_worksmens = chk_blank(tables[0].df[8][5].replace(',',''))
Direct_commission_business_Liability = chk_blank(tables[0].df[9][5].replace(',',''))
Direct_commission_business_Engineering = chk_blank(tables[0].df[10][5].replace(',',''))
Direct_commission_business_aviation = chk_blank(tables[0].df[11][5].replace(',',''))
Direct_commission_business_PA = chk_blank(tables[0].df[12][5].replace(',',''))
Direct_commission_business_Health_Insurance = chk_blank(tables[0].df[13][5].replace(',',''))
Direct_commission_business_Credit_Insurance = chk_blank(tables[0].df[14][5].replace(',',''))
Direct_commission_business_Crop_Insurance = chk_blank(tables[0].df[15][5].replace(',',''))
Direct_commission_business_Others = chk_blank(tables[0].df[16][5].replace(',',''))


### Add others all LoB
Direct_commission_business_Others = ifnone(Direct_commission_business_Others) + ifnone(Direct_commission_business_worksmens) \
                               + ifnone(Direct_commission_business_aviation) + ifnone(Direct_commission_business_Credit_Insurance)

Direct_commission.append(Direct_commission_business_Fire)
Direct_commission.append(Direct_commission_business_Marine_cargo)
Direct_commission.append(Direct_commission_business_Marine_others)
Direct_commission.append(Direct_commission_business_Marine_total)
Direct_commission.append(Direct_commission_business_Motor_OD)
Direct_commission.append(Direct_commission_business_Motor_TP)
Direct_commission.append(Direct_commission_business_Motor_Total)
Direct_commission.append(Direct_commission_business_Liability)
Direct_commission.append(Direct_commission_business_Engineering)
Direct_commission.append(Direct_commission_business_PA)
Direct_commission.append(Direct_commission_business_Health_Insurance)
Direct_commission.append(Direct_commission_business_Crop_Insurance)
Direct_commission.append(Direct_commission_business_Others)

In [10]:
Direct_commission

[375214,
 40675,
 -111,
 40564,
 946443,
 89187,
 1035630,
 8652,
 28572,
 75337,
 501773,
 20,
 193908]

In [11]:
##### Read Data from NL6 form

#Add: Re-insurance Accepted
Add_re_insurance_accepted = []

Add_re_insurance_accepted_business_Fire = chk_blank(tables[0].df[1][6].replace(',',''))
Add_re_insurance_accepted_business_Marine_cargo = chk_blank(tables[0].df[2][6].replace(',',''))
Add_re_insurance_accepted_business_Marine_others = chk_blank(tables[0].df[3][6].replace(',',''))
Add_re_insurance_accepted_business_Marine_total = chk_blank(tables[0].df[4][6].replace(',',''))
Add_re_insurance_accepted_business_Motor_OD = chk_blank(tables[0].df[5][6].replace(',',''))
Add_re_insurance_accepted_business_Motor_TP = chk_blank(tables[0].df[6][6].replace(',',''))
Add_re_insurance_accepted_business_Motor_Total = chk_blank(tables[0].df[7][6].replace(',',''))
Add_re_insurance_accepted_business_worksmens = chk_blank(tables[0].df[8][6].replace(',',''))
Add_re_insurance_accepted_business_Liability = chk_blank(tables[0].df[9][6].replace(',',''))
Add_re_insurance_accepted_business_Engineering = chk_blank(tables[0].df[10][6].replace(',',''))
Add_re_insurance_accepted_business_aviation = chk_blank(tables[0].df[11][6].replace(',',''))
Add_re_insurance_accepted_business_PA = chk_blank(tables[0].df[12][6].replace(',',''))
Add_re_insurance_accepted_business_Health_Insurance = chk_blank(tables[0].df[13][6].replace(',',''))
Add_re_insurance_accepted_business_Credit_Insurance = chk_blank(tables[0].df[14][6].replace(',',''))
Add_re_insurance_accepted_business_Crop_Insurance = chk_blank(tables[0].df[15][6].replace(',',''))
Add_re_insurance_accepted_business_Others = chk_blank(tables[0].df[16][6].replace(',',''))


### Add others all LoB
Add_re_insurance_accepted_business_Others = ifnone(Add_re_insurance_accepted_business_Others) + ifnone(Add_re_insurance_accepted_business_worksmens) \
                               + ifnone(Add_re_insurance_accepted_business_aviation) + ifnone(Add_re_insurance_accepted_business_Credit_Insurance)

Add_re_insurance_accepted.append(Add_re_insurance_accepted_business_Fire)
Add_re_insurance_accepted.append(Add_re_insurance_accepted_business_Marine_cargo)
Add_re_insurance_accepted.append(Add_re_insurance_accepted_business_Marine_others)
Add_re_insurance_accepted.append(Add_re_insurance_accepted_business_Marine_total)
Add_re_insurance_accepted.append(Add_re_insurance_accepted_business_Motor_OD)
Add_re_insurance_accepted.append(Add_re_insurance_accepted_business_Motor_TP)
Add_re_insurance_accepted.append(Add_re_insurance_accepted_business_Motor_Total)
Add_re_insurance_accepted.append(Add_re_insurance_accepted_business_Liability)
Add_re_insurance_accepted.append(Add_re_insurance_accepted_business_Engineering)
Add_re_insurance_accepted.append(Add_re_insurance_accepted_business_PA)
Add_re_insurance_accepted.append(Add_re_insurance_accepted_business_Health_Insurance)
Add_re_insurance_accepted.append(Add_re_insurance_accepted_business_Crop_Insurance)
Add_re_insurance_accepted.append(Add_re_insurance_accepted_business_Others)

In [12]:
Add_re_insurance_accepted

[12574, None, None, None, None, None, None, None, 1852, None, None, None, 1]

In [13]:
##### Read Data from NL6 form

#Less: Commission on Re-Insurance Ceded
Less_commission_on_re_insurance_ceded = []

Less_commission_on_re_insurance_ceded_business_Fire = chk_blank(tables[0].df[1][7].replace(',',''))
Less_commission_on_re_insurance_ceded_business_Marine_cargo = chk_blank(tables[0].df[2][7].replace(',',''))
Less_commission_on_re_insurance_ceded_business_Marine_others = chk_blank(tables[0].df[3][7].replace(',',''))
Less_commission_on_re_insurance_ceded_business_Marine_total = chk_blank(tables[0].df[4][7].replace(',',''))
Less_commission_on_re_insurance_ceded_business_Motor_OD = chk_blank(tables[0].df[5][7].replace(',',''))
Less_commission_on_re_insurance_ceded_business_Motor_TP = chk_blank(tables[0].df[6][7].replace(',',''))
Less_commission_on_re_insurance_ceded_business_Motor_Total = chk_blank(tables[0].df[7][7].replace(',',''))
Less_commission_on_re_insurance_ceded_business_worksmens = chk_blank(tables[0].df[8][7].replace(',',''))
Less_commission_on_re_insurance_ceded_business_Liability = chk_blank(tables[0].df[9][7].replace(',',''))
Less_commission_on_re_insurance_ceded_business_Engineering = chk_blank(tables[0].df[10][7].replace(',',''))
Less_commission_on_re_insurance_ceded_business_aviation = chk_blank(tables[0].df[11][7].replace(',',''))
Less_commission_on_re_insurance_ceded_business_PA = chk_blank(tables[0].df[12][7].replace(',',''))
Less_commission_on_re_insurance_ceded_business_Health_Insurance = chk_blank(tables[0].df[13][7].replace(',',''))
Less_commission_on_re_insurance_ceded_business_Credit_Insurance = chk_blank(tables[0].df[14][7].replace(',',''))
Less_commission_on_re_insurance_ceded_business_Crop_Insurance = chk_blank(tables[0].df[15][7].replace(',',''))
Less_commission_on_re_insurance_ceded_business_Others = chk_blank(tables[0].df[16][7].replace(',',''))


### Add others all LoB
Less_commission_on_re_insurance_ceded_business_Others = ifnone(Less_commission_on_re_insurance_ceded_business_Others) + ifnone(Less_commission_on_re_insurance_ceded_business_worksmens) \
                               + ifnone(Less_commission_on_re_insurance_ceded_business_aviation) + ifnone(Less_commission_on_re_insurance_ceded_business_Credit_Insurance)

Less_commission_on_re_insurance_ceded.append(Less_commission_on_re_insurance_ceded_business_Fire)
Less_commission_on_re_insurance_ceded.append(Less_commission_on_re_insurance_ceded_business_Marine_cargo)
Less_commission_on_re_insurance_ceded.append(Less_commission_on_re_insurance_ceded_business_Marine_others)
Less_commission_on_re_insurance_ceded.append(Less_commission_on_re_insurance_ceded_business_Marine_total)
Less_commission_on_re_insurance_ceded.append(Less_commission_on_re_insurance_ceded_business_Motor_OD)
Less_commission_on_re_insurance_ceded.append(Less_commission_on_re_insurance_ceded_business_Motor_TP)
Less_commission_on_re_insurance_ceded.append(Less_commission_on_re_insurance_ceded_business_Motor_Total)
Less_commission_on_re_insurance_ceded.append(Less_commission_on_re_insurance_ceded_business_Liability)
Less_commission_on_re_insurance_ceded.append(Less_commission_on_re_insurance_ceded_business_Engineering)
Less_commission_on_re_insurance_ceded.append(Less_commission_on_re_insurance_ceded_business_PA)
Less_commission_on_re_insurance_ceded.append(Less_commission_on_re_insurance_ceded_business_Health_Insurance)
Less_commission_on_re_insurance_ceded.append(Less_commission_on_re_insurance_ceded_business_Crop_Insurance)
Less_commission_on_re_insurance_ceded.append(Less_commission_on_re_insurance_ceded_business_Others)

In [14]:
Less_commission_on_re_insurance_ceded

[703421,
 14107,
 595,
 14702,
 48821,
 195829,
 244650,
 7438,
 84997,
 6525,
 267023,
 56268,
 182273]

In [15]:
##### Read Data from NL6 form

#Net Commission
Net_commission = []

Net_commission_business_Fire = chk_blank(tables[0].df[1][8].replace(',',''))
Net_commission_business_Marine_cargo = chk_blank(tables[0].df[2][8].replace(',',''))
Net_commission_business_Marine_others = chk_blank(tables[0].df[3][8].replace(',',''))
Net_commission_business_Marine_total = chk_blank(tables[0].df[4][8].replace(',',''))
Net_commission_business_Motor_OD = chk_blank(tables[0].df[5][8].replace(',',''))
Net_commission_business_Motor_TP = chk_blank(tables[0].df[6][8].replace(',',''))
Net_commission_business_Motor_Total = chk_blank(tables[0].df[7][8].replace(',',''))
Net_commission_business_worksmens = chk_blank(tables[0].df[8][8].replace(',',''))
Net_commission_business_Liability = chk_blank(tables[0].df[9][8].replace(',',''))
Net_commission_business_Engineering = chk_blank(tables[0].df[10][8].replace(',',''))
Net_commission_business_aviation = chk_blank(tables[0].df[11][8].replace(',',''))
Net_commission_business_PA = chk_blank(tables[0].df[12][8].replace(',',''))
Net_commission_business_Health_Insurance = chk_blank(tables[0].df[13][8].replace(',',''))
Net_commission_business_Credit_Insurance = chk_blank(tables[0].df[14][8].replace(',',''))
Net_commission_business_Crop_Insurance = chk_blank(tables[0].df[15][8].replace(',',''))
Net_commission_business_Others = chk_blank(tables[0].df[16][8].replace(',',''))


### Add others all LoB
Net_commission_business_Others = ifnone(Net_commission_business_Others) + ifnone(Net_commission_business_worksmens) \
                               + ifnone(Net_commission_business_aviation) + ifnone(Net_commission_business_Credit_Insurance)

Net_commission.append(Net_commission_business_Fire)
Net_commission.append(Net_commission_business_Marine_cargo)
Net_commission.append(Net_commission_business_Marine_others)
Net_commission.append(Net_commission_business_Marine_total)
Net_commission.append(Net_commission_business_Motor_OD)
Net_commission.append(Net_commission_business_Motor_TP)
Net_commission.append(Net_commission_business_Motor_Total)
Net_commission.append(Net_commission_business_Liability)
Net_commission.append(Net_commission_business_Engineering)
Net_commission.append(Net_commission_business_PA)
Net_commission.append(Net_commission_business_Health_Insurance)
Net_commission.append(Net_commission_business_Crop_Insurance)
Net_commission.append(Net_commission_business_Others)

In [16]:
Net_commission

[-315633,
 26568,
 -706,
 25862,
 897622,
 -106642,
 790980,
 1214,
 -54573,
 68812,
 234750,
 -56248,
 11636]

In [17]:
##### Read Data from NL6 form

#Commission to Agents
Agents = []

Agents_business_Fire = chk_blank(tables[0].df[1][10].replace(',',''))
Agents_business_Marine_cargo = chk_blank(tables[0].df[2][10].replace(',',''))
Agents_business_Marine_others = chk_blank(tables[0].df[3][10].replace(',',''))
Agents_business_Marine_total = chk_blank(tables[0].df[4][10].replace(',',''))
Agents_business_Motor_OD = chk_blank(tables[0].df[5][10].replace(',',''))
Agents_business_Motor_TP = chk_blank(tables[0].df[6][10].replace(',',''))
Agents_business_Motor_Total = chk_blank(tables[0].df[7][10].replace(',',''))
Agents_business_worksmens = chk_blank(tables[0].df[8][10].replace(',',''))
Agents_business_Liability = chk_blank(tables[0].df[9][10].replace(',',''))
Agents_business_Engineering = chk_blank(tables[0].df[10][10].replace(',',''))
Agents_business_aviation = chk_blank(tables[0].df[11][10].replace(',',''))
Agents_business_PA = chk_blank(tables[0].df[12][10].replace(',',''))
Agents_business_Health_Insurance = chk_blank(tables[0].df[13][10].replace(',',''))
Agents_business_Credit_Insurance = chk_blank(tables[0].df[14][10].replace(',',''))
Agents_business_Crop_Insurance = chk_blank(tables[0].df[15][10].replace(',',''))
Agents_business_Others = chk_blank(tables[0].df[16][10].replace(',',''))


### Add others all LoB
Agents_business_Others = ifnone(Agents_business_Others) + ifnone(Agents_business_worksmens) \
                               + ifnone(Agents_business_aviation) + ifnone(Agents_business_Credit_Insurance)

Agents.append(Agents_business_Fire)
Agents.append(Agents_business_Marine_cargo)
Agents.append(Agents_business_Marine_others)
Agents.append(Agents_business_Marine_total)
Agents.append(Agents_business_Motor_OD)
Agents.append(Agents_business_Motor_TP)
Agents.append(Agents_business_Motor_Total)
Agents.append(Agents_business_Liability)
Agents.append(Agents_business_Engineering)
Agents.append(Agents_business_PA)
Agents.append(Agents_business_Health_Insurance)
Agents.append(Agents_business_Crop_Insurance)
Agents.append(Agents_business_Others)

In [18]:
Agents

[44976,
 18030,
 463,
 18493,
 148495,
 50143,
 198638,
 1475,
 6710,
 20224,
 260169,
 None,
 54299]

In [19]:
##### Read Data from NL6 form

#Commission to Brokers
Brokers = []

Brokers_business_Fire = chk_blank(tables[0].df[1][11].replace(',',''))
Brokers_business_Marine_cargo = chk_blank(tables[0].df[2][11].replace(',',''))
Brokers_business_Marine_others = chk_blank(tables[0].df[3][11].replace(',',''))
Brokers_business_Marine_total = chk_blank(tables[0].df[4][11].replace(',',''))
Brokers_business_Motor_OD = chk_blank(tables[0].df[5][11].replace(',',''))
Brokers_business_Motor_TP = chk_blank(tables[0].df[6][11].replace(',',''))
Brokers_business_Motor_Total = chk_blank(tables[0].df[7][11].replace(',',''))
Brokers_business_worksmens = chk_blank(tables[0].df[8][11].replace(',',''))
Brokers_business_Liability = chk_blank(tables[0].df[9][11].replace(',',''))
Brokers_business_Engineering = chk_blank(tables[0].df[10][11].replace(',',''))
Brokers_business_aviation = chk_blank(tables[0].df[11][11].replace(',',''))
Brokers_business_PA = chk_blank(tables[0].df[12][11].replace(',',''))
Brokers_business_Health_Insurance = chk_blank(tables[0].df[13][11].replace(',',''))
Brokers_business_Credit_Insurance = chk_blank(tables[0].df[14][11].replace(',',''))
Brokers_business_Crop_Insurance = chk_blank(tables[0].df[15][11].replace(',',''))
Brokers_business_Others = chk_blank(tables[0].df[16][11].replace(',',''))


### Add others all LoB
Brokers_business_Others = ifnone(Brokers_business_Others) + ifnone(Brokers_business_worksmens) \
                               + ifnone(Brokers_business_aviation) + ifnone(Brokers_business_Credit_Insurance)

Brokers.append(Brokers_business_Fire)
Brokers.append(Brokers_business_Marine_cargo)
Brokers.append(Brokers_business_Marine_others)
Brokers.append(Brokers_business_Marine_total)
Brokers.append(Brokers_business_Motor_OD)
Brokers.append(Brokers_business_Motor_TP)
Brokers.append(Brokers_business_Motor_Total)
Brokers.append(Brokers_business_Liability)
Brokers.append(Brokers_business_Engineering)
Brokers.append(Brokers_business_PA)
Brokers.append(Brokers_business_Health_Insurance)
Brokers.append(Brokers_business_Crop_Insurance)
Brokers.append(Brokers_business_Others)

In [20]:
Brokers

[152121,
 21417,
 -586,
 20831,
 628906,
 26732,
 655638,
 7098,
 20581,
 17506,
 90282,
 1,
 57068]

In [21]:
##### Read Data from NL6 form

#Commission to Corporate_agency
Corporate_agency = []

Corporate_agency_business_Fire = chk_blank(tables[0].df[1][12].replace(',',''))
Corporate_agency_business_Marine_cargo = chk_blank(tables[0].df[2][12].replace(',',''))
Corporate_agency_business_Marine_others = chk_blank(tables[0].df[3][12].replace(',',''))
Corporate_agency_business_Marine_total = chk_blank(tables[0].df[4][12].replace(',',''))
Corporate_agency_business_Motor_OD = chk_blank(tables[0].df[5][12].replace(',',''))
Corporate_agency_business_Motor_TP = chk_blank(tables[0].df[6][12].replace(',',''))
Corporate_agency_business_Motor_Total = chk_blank(tables[0].df[7][12].replace(',',''))
Corporate_agency_business_worksmens = chk_blank(tables[0].df[8][12].replace(',',''))
Corporate_agency_business_Liability = chk_blank(tables[0].df[9][12].replace(',',''))
Corporate_agency_business_Engineering = chk_blank(tables[0].df[10][12].replace(',',''))
Corporate_agency_business_aviation = chk_blank(tables[0].df[11][12].replace(',',''))
Corporate_agency_business_PA = chk_blank(tables[0].df[12][12].replace(',',''))
Corporate_agency_business_Health_Insurance = chk_blank(tables[0].df[13][12].replace(',',''))
Corporate_agency_business_Credit_Insurance = chk_blank(tables[0].df[14][12].replace(',',''))
Corporate_agency_business_Crop_Insurance = chk_blank(tables[0].df[15][12].replace(',',''))
Corporate_agency_business_Others = chk_blank(tables[0].df[16][12].replace(',',''))


### Add others all LoB
Corporate_agency_business_Others = ifnone(Corporate_agency_business_Others) + ifnone(Corporate_agency_business_worksmens) \
                               + ifnone(Corporate_agency_business_aviation) + ifnone(Corporate_agency_business_Credit_Insurance)

Corporate_agency.append(Corporate_agency_business_Fire)
Corporate_agency.append(Corporate_agency_business_Marine_cargo)
Corporate_agency.append(Corporate_agency_business_Marine_others)
Corporate_agency.append(Corporate_agency_business_Marine_total)
Corporate_agency.append(Corporate_agency_business_Motor_OD)
Corporate_agency.append(Corporate_agency_business_Motor_TP)
Corporate_agency.append(Corporate_agency_business_Motor_Total)
Corporate_agency.append(Corporate_agency_business_Liability)
Corporate_agency.append(Corporate_agency_business_Engineering)
Corporate_agency.append(Corporate_agency_business_PA)
Corporate_agency.append(Corporate_agency_business_Health_Insurance)
Corporate_agency.append(Corporate_agency_business_Crop_Insurance)
Corporate_agency.append(Corporate_agency_business_Others)

In [22]:
Corporate_agency

[176035,
 1131,
 12,
 1142,
 117031,
 12255,
 129286,
 79,
 1281,
 37594,
 149923,
 19,
 82354]

In [23]:
##### Read Data from NL6 form

#Commission to Referral
Referral = []

Referral_business_Fire = chk_blank(tables[0].df[1][13].replace(',',''))
Referral_business_Marine_cargo = chk_blank(tables[0].df[2][13].replace(',',''))
Referral_business_Marine_others = chk_blank(tables[0].df[3][13].replace(',',''))
Referral_business_Marine_total = chk_blank(tables[0].df[4][13].replace(',',''))
Referral_business_Motor_OD = chk_blank(tables[0].df[5][13].replace(',',''))
Referral_business_Motor_TP = chk_blank(tables[0].df[6][13].replace(',',''))
Referral_business_Motor_Total = chk_blank(tables[0].df[7][13].replace(',',''))
Referral_business_worksmens = chk_blank(tables[0].df[8][13].replace(',',''))
Referral_business_Liability = chk_blank(tables[0].df[9][13].replace(',',''))
Referral_business_Engineering = chk_blank(tables[0].df[10][13].replace(',',''))
Referral_business_aviation = chk_blank(tables[0].df[11][13].replace(',',''))
Referral_business_PA = chk_blank(tables[0].df[12][13].replace(',',''))
Referral_business_Health_Insurance = chk_blank(tables[0].df[13][13].replace(',',''))
Referral_business_Credit_Insurance = chk_blank(tables[0].df[14][13].replace(',',''))
Referral_business_Crop_Insurance = chk_blank(tables[0].df[15][13].replace(',',''))
Referral_business_Others = chk_blank(tables[0].df[16][13].replace(',',''))


### Add others all LoB
Referral_business_Others = ifnone(Referral_business_Others) + ifnone(Referral_business_worksmens) \
                               + ifnone(Referral_business_aviation) + ifnone(Referral_business_Credit_Insurance)

Referral.append(Referral_business_Fire)
Referral.append(Referral_business_Marine_cargo)
Referral.append(Referral_business_Marine_others)
Referral.append(Referral_business_Marine_total)
Referral.append(Referral_business_Motor_OD)
Referral.append(Referral_business_Motor_TP)
Referral.append(Referral_business_Motor_Total)
Referral.append(Referral_business_Liability)
Referral.append(Referral_business_Engineering)
Referral.append(Referral_business_PA)
Referral.append(Referral_business_Health_Insurance)
Referral.append(Referral_business_Crop_Insurance)
Referral.append(Referral_business_Others)

In [24]:
Referral

[4282, 250, None, 250, 192975, 227, 193202, None, 74, 66, 6196, None, 704]

In [25]:
##### Read Data from NL6 form

#Commission to Others
Others = []

Others_business_Fire = chk_blank(tables[0].df[1][14].replace(',',''))
Others_business_Marine_cargo = chk_blank(tables[0].df[2][14].replace(',',''))
Others_business_Marine_others = chk_blank(tables[0].df[3][14].replace(',',''))
Others_business_Marine_total = chk_blank(tables[0].df[4][14].replace(',',''))
Others_business_Motor_OD = chk_blank(tables[0].df[5][14].replace(',',''))
Others_business_Motor_TP = chk_blank(tables[0].df[6][14].replace(',',''))
Others_business_Motor_Total = chk_blank(tables[0].df[7][14].replace(',',''))
Others_business_worksmens = chk_blank(tables[0].df[8][14].replace(',',''))
Others_business_Liability = chk_blank(tables[0].df[9][14].replace(',',''))
Others_business_Engineering = chk_blank(tables[0].df[10][14].replace(',',''))
Others_business_aviation = chk_blank(tables[0].df[11][14].replace(',',''))
Others_business_PA = chk_blank(tables[0].df[12][14].replace(',',''))
Others_business_Health_Insurance = chk_blank(tables[0].df[13][14].replace(',',''))
Others_business_Credit_Insurance = chk_blank(tables[0].df[14][14].replace(',',''))
Others_business_Crop_Insurance = chk_blank(tables[0].df[15][14].replace(',',''))
Others_business_Others = chk_blank(tables[0].df[16][14].replace(',',''))


### Add others all LoB
Others_business_Others = ifnone(Others_business_Others) + ifnone(Others_business_worksmens) \
                               + ifnone(Others_business_aviation) + ifnone(Others_business_Credit_Insurance)

Others.append(Others_business_Fire)
Others.append(Others_business_Marine_cargo)
Others.append(Others_business_Marine_others)
Others.append(Others_business_Marine_total)
Others.append(Others_business_Motor_OD)
Others.append(Others_business_Motor_TP)
Others.append(Others_business_Motor_Total)
Others.append(Others_business_Liability)
Others.append(Others_business_Engineering)
Others.append(Others_business_PA)
Others.append(Others_business_Health_Insurance)
Others.append(Others_business_Crop_Insurance)
Others.append(Others_business_Others)

In [26]:
Others

[-2200,
 -153,
 None,
 -153,
 -140964,
 -170,
 -141134,
 None,
 -74,
 -53,
 -4797,
 None,
 -517]

In [27]:
##### Read Data from NL6 form

#Commission to Total
Total = []

Total_business_Fire = chk_blank(tables[0].df[1][15].replace(',',''))
Total_business_Marine_cargo = chk_blank(tables[0].df[2][15].replace(',',''))
Total_business_Marine_Total = chk_blank(tables[0].df[3][15].replace(',',''))
Total_business_Marine_total = chk_blank(tables[0].df[4][15].replace(',',''))
Total_business_Motor_OD = chk_blank(tables[0].df[5][15].replace(',',''))
Total_business_Motor_TP = chk_blank(tables[0].df[6][15].replace(',',''))
Total_business_Motor_Total = chk_blank(tables[0].df[7][15].replace(',',''))
Total_business_worksmens = chk_blank(tables[0].df[8][15].replace(',',''))
Total_business_Liability = chk_blank(tables[0].df[9][15].replace(',',''))
Total_business_Engineering = chk_blank(tables[0].df[10][15].replace(',',''))
Total_business_aviation = chk_blank(tables[0].df[11][15].replace(',',''))
Total_business_PA = chk_blank(tables[0].df[12][15].replace(',',''))
Total_business_Health_Insurance = chk_blank(tables[0].df[13][15].replace(',',''))
Total_business_Credit_Insurance = chk_blank(tables[0].df[14][15].replace(',',''))
Total_business_Crop_Insurance = chk_blank(tables[0].df[15][15].replace(',',''))
Total_business_Total = chk_blank(tables[0].df[16][15].replace(',',''))


### Add Total all LoB
Total_business_Total = ifnone(Total_business_Total) + ifnone(Total_business_worksmens) \
                               + ifnone(Total_business_aviation) + ifnone(Total_business_Credit_Insurance)

Total.append(Total_business_Fire)
Total.append(Total_business_Marine_cargo)
Total.append(Total_business_Marine_Total)
Total.append(Total_business_Marine_total)
Total.append(Total_business_Motor_OD)
Total.append(Total_business_Motor_TP)
Total.append(Total_business_Motor_Total)
Total.append(Total_business_Liability)
Total.append(Total_business_Engineering)
Total.append(Total_business_PA)
Total.append(Total_business_Health_Insurance)
Total.append(Total_business_Crop_Insurance)
Total.append(Total_business_Total)

In [28]:
Total

[375214,
 40675,
 -111,
 40564,
 946443,
 89187,
 1035630,
 8652,
 28572,
 75337,
 501773,
 20,
 193908]

In [33]:
data = {'Year': year,
         'Qtr': qtr,
         'Company':cmpny,
         'LOB':LOB,
         'Direct Commission': Direct_commission,
         'Add: Commission on Re-insurance Accepted': Add_re_insurance_accepted,
         'Less: Commission on Re-insurance Ceded': Less_commission_on_re_insurance_ceded,
         'Net Commission': Net_commission,
         'Commission to Agents':Agents,
         'Commission to Brokers': Brokers,
         'Commission to Corporate Agency': Corporate_agency,
         'Commission to Referral': Referral,
         'Commission to Others': Others,
         'Total Commission':Total}

In [34]:
df_data = pd.DataFrame(data)

In [31]:
df_data

,Year,Qtr,Company,LOB,Direct Commission,Add: commission on Re-insurance Accepted,Less: Commission on Re-insurance Ceded,Net Commission,Commission to Agents,Commission to Brokers,Commission to Corporate Agency,Commission to Referral,Commission to Others,Total Commission
0,2020_21,Q4,Bajaj Allianz,Fire,375214,12574.0,703421,-315633,44976.0,152121,176035,4282.0,-2200.0,375214
1,2020_21,Q4,Bajaj Allianz,Marine Cargo,40675,NaN,14107,26568,18030.0,21417,1131,250.0,-153.0,40675
2,2020_21,Q4,Bajaj Allianz,Marine Others,-111,NaN,595,-706,463.0,-586,12,NaN,NaN,-111
3,2020_21,Q4,Bajaj Allianz,Marine Total,40564,NaN,14702,25862,18493.0,20831,1142,250.0,-153.0,40564
4,2020_21,Q4,Bajaj Allianz,Motor OD,946443,NaN,48821,897622,148495.0,628906,117031,192975.0,-140964.0,946443
5,2020_21,Q4,Bajaj Allianz,Motor TP,89187,NaN,195829,-106642,50143.0,26732,12255,227.0,-170.0,89187
6,2020_21,Q4,Bajaj Allianz,Motor Total,1035630,NaN,244650,790980,198638.0,655638,129286,193202.0,-141134.0,1035630
7,2020_21,Q4,Bajaj Allianz,Liability,8652,NaN,7438,1214,1475.0,7098,79,NaN,NaN,8652
8,2020_21,Q4,Bajaj Allianz,Engineering,28572,1852.0,84997,-54573,6710.0,20581,1281,74.0,-74.0,28572
9,2020_21,Q4,Bajaj Allianz,PA,75337,NaN,6525,68812,20224.0,17506,37594,66.0,-53.0,75337
10,2020_21,Q4,Bajaj Allianz,Health Insurance,501773,NaN,267023,234750,260169.0,90282,149923,6196.0,-4797.0,501773
11,2020_21,Q4,Bajaj Allianz,Crop Insurance,20,NaN,56268,-56248,NaN,1,19,NaN,NaN,20
12,2020_21,Q4,Bajaj Allianz,Others,193908,1.0,182273,11636,54299.0,57068,82354,704.0,-517.0,193908

In [35]:
df_data.to_csv(ofile,index=False)