In [1]:
# Import Libraries
import camelot
import os
import numpy as np
import pandas as pd

In [2]:
# Fill data as per requirement
company = 'Bajaj_Allianz'
financial_yr = '2020_21'
quarter = 'Q4'

In [3]:
LOB = ['Fire', 'Marine Cargo', 'Marine Others', 'Marine Total', 'Motor OD', 'Motor TP', 'Motor Total', 'Liability', 'Engineering', 'PA', 'Health Insurance', 'Crop Insurance', 'Others']
year = np.full(shape=len(LOB),fill_value=financial_yr)
qtr = np.full(shape=len(LOB),fill_value=quarter)
cmpny = np.full(shape=len(LOB),fill_value=company.replace('_',' '))

In [5]:
dir_path = r"C:\Users\n179950\Munich Re\MR India NL - Documents\Agro\6. Miscellaneous\Individual's Folders\Anil\project_public_disclosure\PDF"
file = os.path.join(dir_path,company,financial_yr,quarter,'NL-38.pdf')
print(file)

C:\Users\n179950\Munich Re\MR India NL - Documents\Agro\6. Miscellaneous\Individual's Folders\Anil\project_public_disclosure\PDF\Bajaj_Allianz\2020_21\Q4\NL-38.pdf

In [6]:
odir_path = r"C:\Users\n179950\Munich Re\MR India NL - Documents\Agro\6. Miscellaneous\Individual's Folders\Anil\project_public_disclosure\CSV"
ofile = os.path.join(odir_path,company,financial_yr,quarter,'NL-38.csv')
print(ofile)

C:\Users\n179950\Munich Re\MR India NL - Documents\Agro\6. Miscellaneous\Individual's Folders\Anil\project_public_disclosure\CSV\Bajaj_Allianz\2020_21\Q4\NL-38.csv

In [7]:
def chk_blank(value):
    if value =='-' and len(value)==1:
        return None
    elif len(value)==0:
        return None
    elif '(' in value:
        return int(value.replace('-','').replace('(','').replace(')','').replace(' ','')) *-1
    else:
        return int(value.replace('-','').replace(' ',''))
    
def ifnone(value):
    if value == None:
        return 0
    else:
        return value

In [8]:
tables = camelot.read_pdf(file)#,pages="all")
print("Total tables extracted:", tables.n)

Total tables extracted: 1

In [9]:
tables[0].df.head(50)

,0,1,2,3,4,5,6,7,8,9
0,,,Current Quarter,,Same Quarter previous year,,Upto the period,,Same period of the previos year,
1,Sl.No.,Line of Business,No. of Policies,Premium,No. of Policies,Premium,No. of Policies,Premium,No. of Policies,Premium
2,1,Fire,"3,62,072","43,011","2,78,402","34,842","11,63,385","1,65,655","10,72,463","1,22,566"
3,2,Cargo & Hull,"41,127","4,258","35,854","4,633","1,41,209","16,635","1,61,044","17,665"
4,3,Motor TP,"7,56,307","80,496","4,80,434","74,621","26,80,596","2,71,517","26,53,995","3,13,114"
5,4,Motor OD,"14,46,668","56,704","13,78,090","48,469","53,89,070","2,01,116","63,60,590","2,09,939"
6,5,Engineering,"2,523","5,961","2,587","3,626","8,761","22,081","10,821","15,266"
7,6,Employer's Liability,"15,480","4,913","3,484","3,885","50,605","33,035","21,416","27,593"
8,7,Personal Accident,"27,56,335","5,330","6,07,046","6,073","52,25,937","20,159","29,09,341","27,340"
9,8,Medical Insurance,"10,38,318","47,511","9,78,500","42,676","35,49,892","2,07,459","29,10,500","2,08,679"
10,9,Overseas medical Insurance,"44,503",779,"1,09,140","1,544","1,42,290","2,556","6,63,389","11,462"
11,10,Crop Insurance,"3,09,566","12,444","9,87,155","24,124","15,26,397","2,55,638","44,60,935","2,48,138"
12,11,Aviation,13,346,"4,008","1,717",153,"1,769","4,210","2,605"
13,12,Credit Insurance,21,346,32,310,36,"1,307",45,"1,195"
14,13,All Other Miscellaneous,"15,06,684","15,470","13,83,027","18,085","50,95,108","58,026","56,46,449","72,418"
15,,Total,"82,79,617","2,77,568","62,47,759","2,64,604","2,49,73,439","12,56,953","2,68,75,198","12,77,977"

In [11]:
chk_blank(tables[0].df[2][3].replace(',',''))

41127

In [12]:
##### Read Data from NL38 form

# Number of Policies
No_of_policies = []

No_of_policies_business_Fire = chk_blank(tables[0].df[2][2].replace(',',''))
No_of_policies_business_Marine_cargo = None
No_of_policies_business_Marine_others = None
No_of_policies_business_Marine_total = chk_blank(tables[0].df[2][3].replace(',',''))
No_of_policies_business_Motor_OD = chk_blank(tables[0].df[2][5].replace(',',''))
No_of_policies_business_Motor_TP = chk_blank(tables[0].df[2][4].replace(',',''))
No_of_policies_business_Motor_Total = No_of_policies_business_Motor_OD + No_of_policies_business_Motor_TP
No_of_policies_business_worksmens = None
No_of_policies_business_Liability = chk_blank(tables[0].df[2][7].replace(',',''))
No_of_policies_business_Engineering = chk_blank(tables[0].df[2][6].replace(',',''))
No_of_policies_business_aviation = chk_blank(tables[0].df[2][12].replace(',',''))
No_of_policies_business_PA = chk_blank(tables[0].df[2][8].replace(',',''))
No_of_policies_business_Health_Insurance = chk_blank(tables[0].df[2][9].replace(',',''))
No_of_policies_business_Credit_Insurance = chk_blank(tables[0].df[2][13].replace(',',''))
No_of_policies_business_Crop_Insurance = chk_blank(tables[0].df[2][11].replace(',',''))
No_of_policies_business_Others = chk_blank(tables[0].df[2][14].replace(',',''))


### Add others all LoB
No_of_policies_business_Others = ifnone(No_of_policies_business_Others) + ifnone(No_of_policies_business_worksmens) \
                               + ifnone(No_of_policies_business_aviation) + ifnone(No_of_policies_business_Credit_Insurance)

No_of_policies.append(No_of_policies_business_Fire)
No_of_policies.append(No_of_policies_business_Marine_cargo)
No_of_policies.append(No_of_policies_business_Marine_others)
No_of_policies.append(No_of_policies_business_Marine_total)
No_of_policies.append(No_of_policies_business_Motor_OD)
No_of_policies.append(No_of_policies_business_Motor_TP)
No_of_policies.append(No_of_policies_business_Motor_Total)
No_of_policies.append(No_of_policies_business_Liability)
No_of_policies.append(No_of_policies_business_Engineering)
No_of_policies.append(No_of_policies_business_PA)
No_of_policies.append(No_of_policies_business_Health_Insurance)
No_of_policies.append(No_of_policies_business_Crop_Insurance)
No_of_policies.append(No_of_policies_business_Others)

In [13]:
No_of_policies

[362072,
 None,
 None,
 41127,
 1446668,
 756307,
 2202975,
 15480,
 2523,
 2756335,
 1038318,
 309566,
 1506718]

In [14]:
data = {'Year': year,
         'Qtr': qtr,
         'Company':cmpny,
         'LOB':LOB,
         'Number of Policies': No_of_policies}

In [15]:
df_data = pd.DataFrame(data)
df_data.to_csv(ofile,index=False)

In [16]:
df_data

       Year Qtr        Company               LOB  Number of Policies
0   2020_21  Q4  Bajaj Allianz              Fire            362072.0
1   2020_21  Q4  Bajaj Allianz      Marine Cargo                 NaN
2   2020_21  Q4  Bajaj Allianz     Marine Others                 NaN
3   2020_21  Q4  Bajaj Allianz      Marine Total             41127.0
4   2020_21  Q4  Bajaj Allianz          Motor OD           1446668.0
5   2020_21  Q4  Bajaj Allianz          Motor TP            756307.0
6   2020_21  Q4  Bajaj Allianz       Motor Total           2202975.0
7   2020_21  Q4  Bajaj Allianz         Liability             15480.0
8   2020_21  Q4  Bajaj Allianz       Engineering              2523.0
9   2020_21  Q4  Bajaj Allianz                PA           2756335.0
10  2020_21  Q4  Bajaj Allianz  Health Insurance           1038318.0
11  2020_21  Q4  Bajaj Allianz    Crop Insurance            309566.0
12  2020_21  Q4  Bajaj Allianz            Others           1506718.0